<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品信息</title>
    <style type="text/css">
        html *{ margin:0 auto; padding:0 auto; text-align:center;}
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/muse-ui.css">
    <script src="js/muse-ui.js"></script>
</head>
<body>
    <img id="commodity_img" src="" alt="商品图片" width="300" height="300">
    <div>
        <p id="commodity_name">商品名称 xxxxx</p>
        <p id="commodity_price">价格 99.9</p>
        <p id="commodity_inform">商品详情 这东西不买就亏</p>
        <p id="commodity_rating">评分 *****</p>
    </div>
    <button id="button_buy" type="button">购买</button>
    <button id="button_add" type="button">加入购物车</button>
</body>
</html>