<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"></meta>
    <title>注册</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    <html lang="en-US">

    <head>
        <meta charset="utf-8"></meta>
        <title>注册</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" />

    </head>
    <div id="register">
        <form name='form-register'>
            <input type="text" id="account" placeholder="账号" />

            <input type="password" id="password" placeholder="密码" />

            <input type="text" id="name" placeholder="账户名">

            <input type="text" id="name" placeholder="年龄">

            <input type="text" id="address" placeholder="收货地址">

            <input type="submit" value="注册" />

        </form>
    </div>

    </html>
</body>

</html>